<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="question">
    <p class="px-2"><%= @answer%></p>
    <p class="px-2"><em>-You</em></p>
  </div>
  <div class="answer">
    <p class="px-2"><strong><%= @response %></strong></p>
    <p class="px-2"><em>-Your Coach</em></p>
  </div>
  <%= link_to 'Ask a new question', ask_path %>
</div>


