<div class="container">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything:</p>

  <form class="form-inline" action="/answer" method="get">
    <input type="text" class="form-control mb-2 mr-sm-2" name="question">
    <button type="submit" class="btn btn-primary mb-2">Ask!</button>
  </form>
</div>

