// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  background-color: white;
  border-left: 6px solid lightgrey;
}

.answer {
  background-color: #FEFFE1;
  border-left: 6px solid lightgrey;
}
